name: dunst Appimage
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 16 1/10 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    container: alpine:latest
    steps:
    - uses: actions/checkout@v4

    - name: build
      if: always()
      run: |
        apk add coreutils bash wget git build-base patchelf \
          libxscrnsaver-dev libxinerama-dev libxrandr-dev \
          libnotify-dev dbus-dev wayland-dev perl pango-dev \
          wayland-protocols dbus librsvg desktop-file-utils

        # alpine repos don't have zsyncmake
        wget https://github.com/probonopd/static-tools/releases/download/continuous/zsyncmake-x86_64 \
          -O /usr/bin/zsyncmake && chmod +x /usr/bin/zsyncmake

        chmod +x ./dunst-appimage.sh && ./dunst-appimage.sh
        mkdir dist
        ls
        mv *.AppImage* dist/

    - name: Upload artifact
      uses: actions/upload-artifact@v4.4.0
      with:
        name: AppImage
        path: 'dist'

  release:
      needs: [build]
      permissions: write-all
      runs-on: ubuntu-latest

      steps:
        - uses: actions/download-artifact@v4.1.8
          with:
            name: AppImage

        - name: release
          uses: marvinpinto/action-automatic-releases@latest
          with:
            title: Continuous build
            automatic_release_tag: continuous
            prerelease: false
            draft: false
            files: |
              *.AppImage*
            repo_token: ${{ secrets.GITHUB_TOKEN }}
